.storybook-div {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.storybook-div {
    color: black;
    background: pink;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 500px;
    height: 500px;
}

.storybook-div::before {
    content: "";
    background-size: cover;
    animation: gradient-bg 0.1s infinite;
    animation-direction: alternate;
    background-image: url("../../../stories/assets/stars.png");
    background-size: 200% 200%;
    position: absolute;
    opacity:0.3; 
    top: 0; bottom: 0; left: 0; right: 0;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 33%;
	}
	33% {
		background-position: 50% 33%;
	}

    66% {
        background-position: 0% 66%;
    }
	100% {
		background-position: 66% 100%;
	}
}

 