 
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-image: url("../../../stories/assets/Noise.svg");
  border: solid 6px;
  border-image: url("../../../stories/assets/Noise.svg") 20% round;
  animation: gradient-border 1s infinite;
  background-size: 500% 500%;
  transition: border-width 0.6s linear;
}

@keyframes gradient-border {
  20% {
    border-image-slice: 20%;
  }
  40% {
    border-image-slice: 30%;
  }
  60% {
    border-image-slice: 40%;
  }
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
